Clarify "whose meaning is defined in"

How may we update "whose meaning is defined in" for clarity?
Note that this text appears twice in the document.

Original:
```
   The parameters for this algorithm, whose meaning is defined in
   [RFC5116], Section 4, are:
```

Perhaps (uses "are" - parameters are defined):
```
   The parameters for this algorithm, which are defined in
   Section 4 of [RFC5116], are:
```

Or (uses "is" - algorithm is defined):
```
   The parameters for this algorithm, which is defined in
   Section 4 of [RFC5116], are:
```

I'd vote for `, as defined in`