Guidelines in RFC 5743

Please ensure that the guidelines listed in [Section 2.1 of RFC 5743](https://www.rfc-editor.org/rfc/rfc5743.html#section-2.1) have been adhered to in this document.

- [x] There must be a statement in the abstract identifying it as the product of the RG. (In the Abstract)
- [ ] There must be a paragraph near the beginning (for example, in the introduction) describing the level of support for publication. (Missing)
- [x] The breadth of review the document has received must also be noted. (Covered in Acknowledgments?)
- [x] It must also be very clear throughout the document that it is not an IETF product and is not a standard. (In the Abstract)
- [ ] If an experimental protocol is described, appropriate usage caveats must be present. (Not relevant)
- [ ] If the protocol has been considered in an IETF working group in the past, this must be noted in the introduction as well. (Not relevant to my knowledge)
- [x] There should be citations and references to relevant research publications. (Present)